.divclass{
    display: grid;
    grid-template-columns: 5fr 6fr;
    gap: 10px;
}
.right-image {
    display: flex; 
    justify-content: flex-end;
}

.middle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Adjust the height as needed */
  }

.index-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
  }