body {
  margin: 0;
  padding: 0px;
  font-family: Arial, sans-serif;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: black;
  height: 100vh;
  display: grid;

  /*background: linear-gradient(to bottom, #4f7ab3, #2a3f6d);*/
}

.header-div{
  align-items: flex-start;
  justify-content: start;
}

.header-text{
  font-family: 'Press Start 2P', cursive;
  color: yellow;
  font-size: 50px;
  text-shadow: 0 0 20px rgba(255, 0, 255, 1);
  text-align: center;
}

.header-description{
  color: white;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 20px rgba(255, 0, 255, 1);
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: set the container height to center vertically too */
}

.profile-pic {
  width: 400px;
  height: 500px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  justify-content: flex-end;
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 30px 5px rgba(255, 0, 255, 0.7);
}

/* Style the image within the profile picture container */
.profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.top-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 15vh; 
  background-color: black;
  font-size: 20px;
}


.aspace{
  margin-right: 20px;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.aspace:hover{
  color: rgba(255, 0, 255, 1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.index-container {
  background-color: rgba(0, 0, 0, 0.3);
  display:flex;
  justify-content: center;
  align-items: center;
  grid-row: inherit;
  gap: 10px;
  width: auto;
  height: 300px;
  margin-left:5%;
  margin-right: 5%;
}
