
/* Styles for the pop-out element */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal:target {
  display: block;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  text-decoration: none;
  color:white;
}

.closeBtn:hover {
  color: red; /* Change color on hover */
}

body {
  margin: 0;
  padding: 0px;
  font-family: Arial, sans-serif;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: black;
  height: 100vh;
  display: grid;

  /*background: linear-gradient(to bottom, #4f7ab3, #2a3f6d);*/
}

/* INDEX DESIGN */
.index-container {
  background-color: rgba(0, 0, 0, 0.5);
  display:flex;
  justify-content: center;
  align-items: center;
  grid-row: inherit;
  gap: 0%;
  width: auto;
  height: 400px;
  margin-left:5%;
  margin-right: 5%;
  box-shadow: 0px 0px 30px 5px rgba(255, 0, 255, 0.6);
  border-radius:80px;
}

.profile-fire {
  display: absolute;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.gif-image, .overlay-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  /* Add other styles as needed for the images */
}

.overlay-image {
  position: absolute;
  top: 7.5%;
  left: 7.5%;
}

/* Add animation or effects to the GIF */
.gif-image {
  width: 355px;
  height: 355px;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.header-div{
  align-items: flex-start;
  justify-content: start;
}

.header-text{
  font-family: 'Press Start 2P', cursive;
  color: yellow;
  font-size: 50px;
  text-shadow: 0 0 20px rgba(255, 0, 255, 1);
  text-align: center;
}

.header-description{
  color: white;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 20px rgba(255, 0, 255, 1);
  text-align: center;
}

/* TEXT EFFECT TYPING */
.header-description, .typed-text::after {
  content: '|'; /* Cursor or caret symbol (blinking effect) */
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

/* Animation for typing effect */
@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}


.header-description,.typed-text {
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid; /* Simulates the appearance of typing */
  animation: typing 6s steps(28) infinite; /* Adjust duration and steps as needed */
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: set the container height to center vertically too */
}

/* .profile-pic {
  width: 400px;
  height: 500px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  justify-content: flex-end;
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 30px 5px rgba(255, 0, 255, 0.7);
}

/* Style the image within the profile picture container */
/*.profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
} */

.top-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 15vh; 
  background-color: black;
  font-size: 20px;
}


.aspace{
  margin-right: 20px;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.aspace:hover{
  color: rgba(255, 0, 255, 1);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.spotify-icon{
  display: flex;
  justify-content: right;
  align-items: center;
  height: 10vh;
}

/* Style the iframe */
iframe {
  width: 300px; /* Set the width of the iframe */
  height: 250px; /* Set the height of the iframe */
}

.spotify-icon{
  width: 150px;
  height: auto;
}
